.toolbar-item {
  text-align: center;
  color: #ffffff;
  padding: 10px;
}
.toolbar-item.active {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  background-image: -moz-linear-gradient(top, #565658, #313132);
  background-image: -ms-linear-gradient(top, #565658, #313132);
  background-image: -webkit-linear-gradient(top, #565658, #313132);
  background-image: linear-gradient(top, #565658, #313132);
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
  -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
}
.toolbar-item .toolbar-icon {
  line-height: 20px;
  min-height: 22px;
  font-size: 20px;
}
.book-item {
  padding: 5px;
}
.book-item .book-info-block {
  padding-top: 15px;
  text-align: center;
}
.book-item .book-info-block .book-name {
  padding-top: 3px;
  text-align: center;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.book-item .book-info-block .book-price {
  padding-top: 8px;
  text-align: right;
}
.book-item:hover {
  background: lightgray;
}
.activity-DummyBookDetailsActivity .book-title {
  padding-top: 5px;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.4em;
}
.activity-DummyBookDetailsActivity .book-image {
  text-align: center;
  padding-top: 5px;
}
.activity-DummyBookDetailsActivity .book-price {
  text-align: center;
  padding-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}
.activity-DummyBookDetailsActivity .intro-block {
  padding: 5px 5px;
  padding-top: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.activity-DummyBookDetailsActivity .activity-label {
  font-weight: bold;
}
.app-header {
  background-image: -moz-linear-gradient(top, #535357, #3c3c3f);
  background-image: -ms-linear-gradient(top, #535357, #3c3c3f);
  background-image: -webkit-linear-gradient(top, #535357, #3c3c3f);
  background-image: linear-gradient(top, #535357, #3c3c3f);
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
  -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
  color: white;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}
.app-header.back-button.disabled,
.app-header.more-button.disabled {
  visibility: hidden;
}
.app-header.back-button:hover,
.app-header.more-button:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  background-image: -moz-linear-gradient(top, #565658, #313132);
  background-image: -ms-linear-gradient(top, #565658, #313132);
  background-image: -webkit-linear-gradient(top, #565658, #313132);
  background-image: linear-gradient(top, #565658, #313132);
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
  -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
}
.app-footer {
  background-image: -moz-linear-gradient(top, #535357, #3c3c3f);
  background-image: -ms-linear-gradient(top, #535357, #3c3c3f);
  background-image: -webkit-linear-gradient(top, #535357, #3c3c3f);
  background-image: linear-gradient(top, #535357, #3c3c3f);
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
  -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
}
