.book-item {
  padding: 5px;
  .book-info-block {
    padding-top: 15px;
    text-align: center;

    .book-name {
      padding-top: 3px;
      text-align: center;
      font-weight: bold;
      text-overflow:ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .book-price {
      padding-top: 8px;
      text-align: right;
    }
  }

}